@import "global";
@import "mixins";

//font-family: 'Karla', sans-serif;

// -------------------------- */
// $VARIEBALES /
// -------------------------- */
$dark-blue: #081430;
$text: rgba(8, 20, 48, 0.8);
$blue: #3249bf;
$background: #fafafa;
$white: #fff;
$pale-silver-transparent: rgba(206, 195, 193, 0.4);

$font-Karla: "Karla", sans-serif;

body {
  font-family: $font-Karla;
  font-weight: 400;
  color: $dark-blue;
  width: 100%;
  background-color: $background;
}

.main {
  margin-inline: 1rem;
}

.main-title {
  padding: 2rem 1rem 2.5rem;
  font-size: 3rem;
  text-align: left;
  font-weight: 700;
}

.section {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 1rem 1.5rem;
  justify-items: center;

  //700px
  @media (min-width: 43em) {
    grid-template-columns: repeat(2, 1fr);
  }

  //928px
  @media (min-width: 58em) {
    grid-template-columns: repeat(3, 1fr);
  }
}

.card {
  @include flex-box(center, stretch, wrap);
  min-width: 300px;
  // max-width: 420px;
  margin-bottom: 1.5rem;
  border-radius: $border-radius;
  box-shadow: 0 4px 6px 0 hsla(0, 0%, 0%, 0.2);

  &--container {
    width: 100%;
    padding: 1rem;
    border: {
      bottom-left-radius: $border-radius;
      bottom-right-radius: $border-radius;
    }
  }

  &--header {
    grid-area: header;
    padding: {
      bottom: 1rem;
      left: 1rem;
    }
    text-align: left;
    font-weight: 500;
  }

  &--date-finished {
    margin-left: 0.75rem;
    padding: {
      block: 0.2rem;
      inline: 0.5rem;
    }
    background-color: $pale-silver-transparent;
  }

  &--info {
    grid-area: info;
    padding: 0.75rem 1rem;
    text-align: left;
  }

  &--box-cta {
    @include flex-box(space-around, flex-end, wrap);
    margin-top: 1rem;
  }

  &--cta {
    position: relative;
    margin-block: 0.5rem;
    padding: 0.7em 2em;
    text-transform: uppercase;
    transition: all 500ms ease;
    z-index: 0;

    &:hover {
      box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.4);
      transform: translateY(-5px);
    }

    &__contained {
      border: none;
      border-radius: $border-radius;
    }

    &__outline {
      border: 2px solid;
      border-radius: $border-radius;
    }

    &__text-only {
      padding-inline: 0;
    }

    &__underline {
      text-decoration-line: underline;
    }
  }

  .slider {
    position: relative;
    grid-area: slider;
    width: 100%;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;

    &--aspect {
      aspect-ratio: 1/2;
    }

    &::-webkit-scrollbar {
      display: none;
    }

    &--box {
      @include flex-box(space-between, center, nowrap);
      flex-direction: row;
      width: 200%;
      transition: all 0.5s ease;
      transform: translateX(0%);
    }

    &--box-img {
      width: 100%;
    }

    &--img {
      width: calc(100% / 2);
      object-fit: cover;
      object-position: center center;
      scroll-snap-align: center;
    }

    &--point {
      display: none;
    }

    //428px
    @media (min-width: 26.75em) {
      &--aspect {
        aspect-ratio: auto;
      }

      &--arrow {
        padding: 0.5rem;
        margin-right: 0.5rem;
        font-size: 24px;
        opacity: 0.7;
        cursor: pointer;
      }

      &--arrow-left {
        position: absolute;
        top: 50%;
        left: 16px;

        &:hover {
          opacity: 1;
        }
      }

      &--arrow-right {
        position: absolute;
        top: 50%;
        right: 16px;

        &:hover {
          opacity: 1;
        }
      }

      &--arrow.active {
        background-color: $white;
        opacity: 0.8;
      }

      &--point {
        @include flex-box(center, center, wrap);
        height: 20px;
        opacity: 0.7;
      }

      &--point-left {
        width: 10px;
        height: 10px;
        border-radius: 50%;
      }

      &--point-right {
        width: 10px;
        height: 10px;
        margin-left: 4px;
        border-radius: 50%;
      }
    }

    //928px
    @media (min-width: 58em) {
      &--img {
        width: 100%;
      }
    }
  }
}

.infoMessages {
  @include flex-box(center, flex-start, nowrap);
  min-height: 100vh;
  margin-top: 5rem;
  font-size: 2vw;
  z-index: 20;
}

.animated {
  &--sub-text {
    position: absolute;
    left: 50%;
    font-size: 2vw;
    transform: translate(-50%, -200%);
    color: $dark-blue;
  }

  &--text {
    position: relative;
    display: block;
    font-size: inherit;
    color: $blue;
    -webkit-text-stroke-width: 0vw;
    white-space: nowrap;
  }

  &--text::before {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    color: $dark-blue;
    border-right: 2px solid $dark-blue;
    font-size: 2vw;
    -webkit-text-stroke-width: 0vw;
    overflow: hidden;
    @include animate(animateText, 5s, linear, infinite);
    @include keyframes(animateText) {
      0%,
      10%,
      100% {
        width: 0;
      }

      70%,
      95% {
        width: 100%;
      }
    }
  }
}

.hide {
  display: none;
}
