@import "global";
@import "mixins";

//font-family: 'Karla', sans-serif;

// -------------------------- */
// $VARIEBALES /
// -------------------------- */
$dark-blue: #081430;
$text: rgba(8, 20, 48, 0.8);
$blue: #3249bf;
$background: #fafafa;
$white: #fff;
$pale-silver-transparent: rgba(206, 195, 193, 0.4);

$font-Karla: "Karla", sans-serif;

body {
  font-family: $font-Karla;
  font-weight: 400;
  color: $dark-blue;
  width: 100%;
  background-color: $background;
}

.main-title {
  padding: 2rem 1rem 2.5rem;
  font-size: 3rem;
  text-align: left;
  font-weight: 700;
}

.section {
  @include flex-box(space-around, center, wrap);
  margin: 0 1.5rem 2rem;
}

.card {
  @include flex-box(center, center, wrap);
  max-width: 600px;
  border-radius: 8px;
  box-shadow: 0 4px 6px 0 hsla(0, 0%, 0%, 0.2);

  &--container {
    width: 100%;
    padding: 1rem;
    border: {
      bottom-left-radius: $border-radius;
      bottom-right-radius: $border-radius;
    }
  }

  &--header {
    grid-area: header;
    padding: {
      bottom: 1rem;
      left: 1rem;
    }
    text-align: left;
    font-weight: 500;
  }

  &--date-finished {
    margin-left: 0.75rem;
    padding: {
      block: 0.2rem;
      inline: 0.5rem;
    }
    background-color: $pale-silver-transparent;
    border-radius: $border-radius;
  }

  &--info {
    grid-area: info;
    padding: 0.75rem 1rem;
    text-align: left;
  }

  &--box-cta {
    @include flex-box(space-around, flex-end, wrap);
    margin-top: 1rem;
  }

  &--cta {
    position: relative;
    margin-block: 0.5rem;
    padding: 0.7em 2em;
    text-transform: uppercase;
    transition: all 500ms ease;
    z-index: 0;

    &:hover {
      box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.4);
      transform: translateY(-5px);
    }

    &__contained {
      border-radius: $border-radius;
    }

    &__outline {
      border: 2px solid;
      border-radius: $border-radius;
    }

    &__text-only {
      padding-inline: 0;
    }

    &__underline {
      text-decoration-line: underline;
    }
  }

  .slider {
    position: relative;
    grid-area: slider;
    width: 100%;
    border: {
      top-left-radius: $border-radius;
      top-right-radius: $border-radius;
    }
    overflow-x: scroll;
    scroll-snap-type: x mandatory;

    &::-webkit-scrollbar {
      display: none;
    }

    &--box {
      @include flex-box(space-between, center, nowrap);
      flex-direction: row;
      width: 200%;
      transition: all 0.5s ease;
      transform: translateX(0%);
    }

    &--box-img {
      width: 100%;
    }

    &--img {
      width: calc(100% / 2);
      object-fit: cover;
      object-position: center center;
      scroll-snap-align: center;
      border: {
        top-left-radius: 4px;
        bottom-left-radius: 4px;
      }
    }

    &--point {
      padding: 0.5rem;
      margin-right: 0.5rem;
      color: $background;
      font-size: 24px;
      opacity: 0.7;
      cursor: pointer;
    }

    &--point-left {
      position: absolute;
      top: 50%;
      left: 16px;

      &:hover {
        opacity: 1;
      }
    }

    &--point-right {
      position: absolute;
      top: 50%;
      right: 16px;

      &:hover {
        opacity: 1;
      }
    }
  }

  //490px
  @media (min-width: 30.625em) {
    .main {
      display: block;
      margin: 0 auto;
      max-width: 450px;
    }
  }

  //928px
  @media (min-width: 58em) {
    .main {
      max-width: 1024px;
      min-height: 100vh;
    }

    .card {
      padding: 2rem;
    }

    .slider {
      grid-area: slider;
      overflow-x: hidden;
      order: -1;

      &--box {
        position: relative;
      }

      &--img {
        width: 100%;
      }

      &--point {
        font-size: 48px;
        cursor: pointer;
      }

      &--point.active {
        background-color: $white;
        opacity: 0.8;
      }
    }
  }
}
